In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('HVAC_Kaggle.csv')
print(df.head())
df.info()

                   Timestamp   T_Supply   T_Return  SP_Return  T_Saturation  \
0  2019-10-15 00:00:00+02:00  19.859999  20.469999       18.5         19.02
1  2019-10-15 00:15:00+02:00  19.855000  20.430000       18.5         19.02
2  2019-10-15 00:30:00+02:00  19.850000  20.410000       18.5         19.02
3  2019-10-15 00:45:00+02:00  19.840000  20.379999       18.5         19.08
4  2019-10-15 01:00:00+02:00  19.830000  20.350000       18.5         19.08

   T_Outdoor  RH_Supply  RH_Return  RH_Outdoor  Energy  Power
0  20.299999  71.110001  58.919998        79.5     0.0    0.0
1  20.299999  71.320000  59.000000        82.0     0.0    0.0
2  20.299999  71.470001  59.109997        79.5     0.0    0.0
3  20.299999  71.439995  59.309998        77.0     0.0    0.0
4  20.299999  71.580002  59.559998        79.5     0.0    0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33888 entries, 0 to 33887
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     33888 non-null  object
 1   T_Supply      33888 non-null  float64
 2   T_Return      33888 non-null  float64
 3   SP_Return     33888 non-null  float64
 4   T_Saturation  33888 non-null  float64
 5   T_Outdoor     33888 non-null  float64
 6   RH_Supply     33888 non-null  float64
 7   RH_Return     33888 non-null  float64
 8   RH_Outdoor    33888 non-null  float64
 9   Energy        33888 non-null  float64
 10  Power         33888 non-null  float64
dtypes: float64(10), object(1)
memory usage: 2.8+ MB

In [ ]:
df.describe()

,T_Supply,T_Return,SP_Return,T_Saturation,T_Outdoor,RH_Supply,RH_Return,RH_Outdoor,Energy,Power
count,33888.000000,33888.000000,33888.000000,33888.000000,33888.000000,33888.000000,33888.000000,33888.000000,33888.000000,33888.000000
mean,20.436936,19.994425,22.302290,18.580051,12.414164,45.433972,37.251636,73.803308,5.769196,2.308225
std,3.535683,2.357756,0.745301,2.237516,4.925918,10.765867,11.253552,21.116373,6.074394,2.432835
min,12.264999,12.344999,18.500000,12.300000,2.300000,19.939999,11.730000,11.000000,0.000000,0.000000
25%,17.879999,18.389999,22.500000,17.260000,8.900000,37.709999,29.420000,60.000000,0.000000,0.000000
50%,19.785000,20.385000,22.500000,18.059999,11.800000,44.669998,36.230000,78.500000,0.000000,0.000000
75%,23.256249,21.699999,22.500000,20.180000,15.300000,51.180000,43.329998,93.000000,12.000000,4.980000
max,30.295000,25.990000,23.500000,26.400000,32.799999,84.699997,78.699997,100.000000,15.000000,5.316000

In [ ]:
dfc=df.drop('Timestamp',axis=1)
dfc.corr()

,T_Supply,T_Return,SP_Return,T_Saturation,T_Outdoor,RH_Supply,RH_Return,RH_Outdoor,Energy,Power
T_Supply,1.000000,0.825405,0.125257,0.606556,0.515510,-0.355773,-0.174764,-0.292118,0.510560,0.507270
T_Return,0.825405,1.000000,-0.063531,0.654465,0.643810,-0.248626,-0.195420,-0.359134,0.584684,0.583019
SP_Return,0.125257,-0.063531,1.000000,0.020568,-0.084450,-0.048752,0.062592,0.127371,0.046479,0.044861
T_Saturation,0.606556,0.654465,0.020568,1.000000,0.650218,0.046919,0.115820,-0.207493,-0.113620,-0.116330
T_Outdoor,0.515510,0.643810,-0.084450,0.650218,1.000000,0.067382,0.104184,-0.445070,0.156505,0.154859
RH_Supply,-0.355773,-0.248626,-0.048752,0.046919,0.067382,1.000000,0.957970,0.651128,-0.433767,-0.432204
RH_Return,-0.174764,-0.195420,0.062592,0.115820,0.104184,0.957970,1.000000,0.664202,-0.390742,-0.389790
RH_Outdoor,-0.292118,-0.359134,0.127371,-0.207493,-0.445070,0.651128,0.664202,1.000000,-0.241883,-0.240783
Energy,0.510560,0.584684,0.046479,-0.113620,0.156505,-0.433767,-0.390742,-0.241883,1.000000,0.991744
Power,0.507270,0.583019,0.044861,-0.116330,0.154859,-0.432204,-0.389790,-0.240783,0.991744,1.000000

In [ ]:
dfc.mode()

,T_Supply,T_Return,SP_Return,T_Saturation,T_Outdoor,RH_Supply,RH_Return,RH_Outdoor,Energy,Power
0,19.959999,19.234999,22.5,17.559999,15.3,39.25,27.389999,100.0,0.0,0.0

In [6]:
dft= df.drop(['Timestamp','RH_Supply','RH_Return', 'RH_Outdoor','Energy','Power' ],axis=1)
dfh=df.drop(['Timestamp','T_Supply','T_Return', 'T_Outdoor','Energy','Power','SP_Return', 'T_Saturation'],axis=1)

In [8]:
dft.var()

T_Supply        12.501054
T_Return         5.559015
SP_Return        0.555474
T_Saturation     5.006477
T_Outdoor       24.264672
dtype: float64

In [9]:
dfh.var()

RH_Supply     115.903885
RH_Return     126.642435
RH_Outdoor    445.901210
dtype: float64

In [10]:
dft.mean()

T_Supply        20.436936
T_Return        19.994425
SP_Return       22.302290
T_Saturation    18.580051
T_Outdoor       12.414164
dtype: float64

In [11]:
dfh.mean()

RH_Supply     45.433972
RH_Return     37.251636
RH_Outdoor    73.803308
dtype: float64

In [14]:
temp_range=dft.max()-dft.min()
temp_range

T_Supply        18.030001
T_Return        13.645001
SP_Return        5.000000
T_Saturation    14.100000
T_Outdoor       30.499999
dtype: float64

In [15]:
humid_range=dfh.max()-dfh.min()
humid_range

RH_Supply     64.759998
RH_Return     66.969997
RH_Outdoor    89.000000
dtype: float64